.inner {
  display: flex;
  justify-content: space-between;
  padding-top: calc(var(--mantine-spacing-xl) * 2);
  padding-bottom: calc(var(--mantine-spacing-xl));
}

.content {
  /* max-width: rem(480px);
  margin-right: calc(var(--mantine-spacing-xl) * 3);

  @media (max-width: $mantine-breakpoint-md) {
    max-width: 100%;
    margin-right: 0;
  } */
}

.heroSection {
  background-color: #000;
  background-image: url(/background.png);
  background-position: 0 0;
  background-size: cover;
}

.title {
  /* color: light-dark(var(--mantine-color-black), var(--mantine-color-white)); */
  color: var(--mantine-color-neonBlue-2);
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  font-size: rem(44px);
  line-height: 1.2;
  font-weight: 900;

  text-shadow: 0px 0px 5px var(--mantine-color-neonBlue-5);

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: rem(28px);
  }
}

.text {
  color: var(--mantine-color-neonBlue-5);
}

.control {
  @media (max-width: $mantine-breakpoint-xs) {
    flex: 1;
  }
}

.image {
  width: rem(376px);
  height: rem(356px);

  @media (max-width: $mantine-breakpoint-md) {
    display: none;
  }
}

.highlight {
  position: relative;
  background-color: var(--mantine-color-blue-light);
  border-radius: var(--mantine-radius-sm);
  padding: rem(4px) rem(12px);
}

.codeContainer {
  position: absolute;
  top: calc(50% - rem(125px));
  left: calc(50% - rem(400px));
  width: rem(800px);
  background-color: var(--mantine-color-gray-9);
  padding-right: 0;
  border: rem(1px) solid light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
  border-radius: var(--mantine-radius-md);
  overflow: hidden;
}